.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; /* Verde */
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease, fadeOut 1s ease 3s; /* Animação de entrada e saída */
    z-index: 1000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
