.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1.4rem;
}

.form div {
    display: flex;
    gap: 2rem;
}

.form span {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}

.input {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
}

.btnAdd {
    width: 14%;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: .3rem;
    cursor: pointer;
}