.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
}

.closeButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--background-nav);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
